<div class="ac-c-card">
    <div class="ca-c-card__header ca-c-card__header--bg-blue">
        <app-card-title text="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </div>
    <div class="ca-c-card__content">
        <app-card-item text="Nome" value="Luiz Célio Gomes Filho"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Idade" value="46"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Renda Mensal" value="R$ 4.000,00"></app-card-item>
        <app-card-line></app-card-line>

    </div>
</div>