<div class="ca-c-card">
    <div class="ca-c-card__header">
        <app-card-title text="Cartão e Crédito" icon="icon-credit-card.png"></app-card-title>
    </div>
    <div class="ca-c-card__content">
        <div class="ca-c-card-item">
            <p>1234567891011 <br />
                Luiz Célio Gomes Filho</p>
            <p>Master Card</p>
        </div>
        <app-card-item text="Limite de Compra" value="R$ 1.000,00"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Disponivel" value="R$ 1.200,00"></app-card-item>
        <app-card-item text="Limite Saque" value="R$ 2.000,00"></app-card-item>
        <app-card-line></app-card-line>
        <app-card-item text="Disponivel" value="R$ 1.300,00"></app-card-item>
        <app-card-item text="Limite Toyal Utilizado" value="R$ 1.300,00"></app-card-item>
        <app-card-line></app-card-line>
    </div>
</div>